.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    height: auto;

}

.select2-container {

    display: block;
    margin: 0;
    position: relative;



}

.modal-dialog {
    max-width: 700px;
}

.modal-body {
    max-height: 70vh;
    overflow-y: auto;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    row-gap: 17px;
}


img {
    height: 50px;
    width: 50px;
}


// .btn-primary {
//     background-color: #0d6efd;
//     border-color: #0d6efd;
// }

.alert-primary {
    background-color: #17a2b8 light;
}

.common-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logout {
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.gap-card-header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

// overwrite code 
.anchor-btn {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

// multiple file upload css
.btn-upload {
    padding: 10px 10px;
    margin-left: 10px;
}

.upload-input-group {
    margin-bottom: 10px;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    height: 45px;
}

.select2-container {
    border-color: #878e96;
}

// td{
//     vertical-align : middle;
//     text-align:center;
// }

.card-header {
    background-color: #ffffff;
}

// search

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: calc(2.25rem + 2px);
    user-select: none;
    -webkit-user-select: none;

}

// to change bg-color of multiple select

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #137e55;
    border: 1px solid rgb(44, 228, 99);

}

.gap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-check {
    display: flex;
    // justify-content: center;
    align-items: center;
}

label {

    margin-bottom: 0;
}

// select2
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: calc(2.25rem + 2px);
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {

    margin-top: 2px;

}

.close,
.mailbox-attachment-close {

    color: #c7c2c2;

}
.table td{
    vertical-align: middle;
}

    .table td {
        padding: 0.4rem;
        font-size: 13px;

    }



    .table th {
        padding: 0.4rem;
        font-size: 13px;
        font-weight: bold;
    }


body{
    font-size: 14px;
}
.form-check-label{
margin-top: 3px;
}

// login bg

.card-area .card-header {
    background-color: #fff;
    color: #f1f4f7;
    background: #00b09b;
    background: -webkit-linear-gradient(to left, #32c55e, #00b09b);
    background: linear-gradient(to left, #32c55e, #00b09b);

}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center center;
}

i u{
 color: #137e55;

}

// employee edit button

.edit-emp{
    display: flex;
    justify-content: center;
    align-items: center;
}

// report table

.report td{
    text-align:center;
}

// edit-emp
.emp_edit td{
    vertical-align: top;
}